<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wiseq.cn.ykAi.dao.TDiffusionPowderDao">
  <resultMap id="BaseResultMap" type="com.wiseq.cn.entity.ykAi.TDiffusionPowder">
    <!--@mbg.generated-->
    <!--@Table t_diffusion_powder-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="diffusion_powder_code" jdbcType="VARCHAR" property="diffusionPowderCode" />
    <result column="diffusion_powder_spec" jdbcType="VARCHAR" property="diffusionPowderSpec" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="density" jdbcType="DOUBLE" property="density" />
    <result column="add_proportion" jdbcType="DOUBLE" property="addProportion" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_delete" jdbcType="BOOLEAN" property="isDelete" />
    <result column="disabled" jdbcType="BOOLEAN" property="disabled" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, diffusion_powder_code, diffusion_powder_spec, supplier, density, add_proportion, 
    create_time, is_delete, disabled
  </sql>

  <select id="findList" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_diffusion_powder
    where is_delete != true
    <if test="diffusionPowderSpec != null and diffusionPowderSpec != ''">
      and diffusion_powder_spec LIKE CONCAT('%',#{diffusionPowderSpec},'%')
    </if>
    <if test="disabled != null">
      and disabled = #{disabled}
    </if>
    order by disabled, create_time DESC
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_diffusion_powder
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="inserts" keyColumn="id" keyProperty="id" parameterType="com.wiseq.cn.entity.ykAi.TDiffusionPowder" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_diffusion_powder (diffusion_powder_code, diffusion_powder_spec, 
      supplier, density, add_proportion, 
      create_time, is_delete, disabled
      )
    values (#{diffusionPowderCode,jdbcType=VARCHAR}, #{diffusionPowderSpec,jdbcType=VARCHAR}, 
      #{supplier,jdbcType=VARCHAR}, #{density,jdbcType=DOUBLE}, #{addProportion,jdbcType=DOUBLE}, 
      #{createTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}, #{disabled,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wiseq.cn.entity.ykAi.TDiffusionPowder" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_diffusion_powder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="diffusionPowderCode != null">
        diffusion_powder_code,
      </if>
      <if test="diffusionPowderSpec != null">
        diffusion_powder_spec,
      </if>
      <if test="supplier != null">
        supplier,
      </if>
      <if test="density != null">
        density,
      </if>
      <if test="addProportion != null">
        add_proportion,
      </if>
        create_time,
        is_delete,
        disabled,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="diffusionPowderCode != null">
        #{diffusionPowderCode,jdbcType=VARCHAR},
      </if>
      <if test="diffusionPowderSpec != null">
        #{diffusionPowderSpec,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null">
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="density != null">
        #{density,jdbcType=DOUBLE},
      </if>
      <if test="addProportion != null">
        #{addProportion,jdbcType=DOUBLE},
      </if>
      NOW(),
      0,
      0,
    </trim>
  </insert>
  <update id="update" parameterType="com.wiseq.cn.entity.ykAi.TDiffusionPowder">
    <!--@mbg.generated-->
    update t_diffusion_powder
    <set>
      <if test="diffusionPowderCode != null">
        diffusion_powder_code = #{diffusionPowderCode,jdbcType=VARCHAR},
      </if>
      <if test="diffusionPowderSpec != null">
        diffusion_powder_spec = #{diffusionPowderSpec,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null">
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="density != null">
        density = #{density,jdbcType=DOUBLE},
      </if>
      <if test="addProportion != null">
        add_proportion = #{addProportion,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        create_time = NOW(),
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wiseq.cn.entity.ykAi.TDiffusionPowder">
    <!--@mbg.generated-->
    update t_diffusion_powder
    set diffusion_powder_code = #{diffusionPowderCode,jdbcType=VARCHAR},
      diffusion_powder_spec = #{diffusionPowderSpec,jdbcType=VARCHAR},
      supplier = #{supplier,jdbcType=VARCHAR},
      density = #{density,jdbcType=DOUBLE},
      add_proportion = #{addProportion,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER},
      disabled = #{disabled,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findExistList" resultType="com.wiseq.cn.entity.ykAi.TDiffusionPowder">
    select * from t_diffusion_powder where diffusion_powder_spec = #{diffusionPowderSpec} and is_delete != 1
  </select>

  <delete id="updateDisabled">
    UPDATE t_diffusion_powder
    <set>
      <if test="disabled != null">
        disabled = #{disabled,jdbcType=INTEGER}
      </if>
    </set>
    WHERE id=#{id}
  </delete>

  <delete id="updateDel">
    UPDATE t_diffusion_powder
    <set>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER}
      </if>
    </set>
    WHERE id=#{id}
  </delete>
</mapper>